<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WMS.AddressAsignment.Settings.OnixDbConnectionString"
            connectionString="Data Source=10.0.0.211;Initial Catalog=testonix;Persist Security Info=True;User ID=sa;Password=Isbaltic123!@#" />
        <add name="WMS.AddressAsignment.Settings.SymphonyDbConnectionString"
            connectionString="Data Source=10.0.0.211;Initial Catalog=BECOR;Persist Security Info=True;User ID=sa;Password=Isbaltic123!@#" />
        <add name="WMS.AddressAsignment.Settings.WmsDbConnectionString"
            connectionString="Data Source=10.0.0.211;Initial Catalog=WMS;Persist Security Info=True;User ID=WMS"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>